body{
    margin: 40px;
}
#main{
    background-image: url(accets/PikiWiki_Israel_77918_mussels.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btnM{
    margin: 5px;
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}
.container{
    margin: 10px;
    display: inline-block;
    width: 345px;
}
.custom-control{
    float: right;
}
#name{
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.myDiv{
color: white;
width: 75%;
font-size: 18px;
}
.card-header{
    font-size: 17px;
    font-weight: bold;
}
.card-body{
    font-size: 12px;
    font-weight: normal;
}
.info{
    font-size: 13px;
    font-weight: normal;
}
.loader {
    display: none;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  } 
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  } 
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 